* {
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo-img img {
    width: 8rem;
}
.sidebar {
    width: 200px !important;
}
li.active > a {
    background-color: var(--cyan);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(51, 95, 101, 0.6);
}
ul.list-board {
    h6 {
        padding-left: 1.5rem;
        color: #6f7379;
    }
    li a {
        cursor: pointer;
        padding: 0.5rem 1rem;
        color: #6f7379;
        transition: all 0.3s;
        &:hover {
            background-color: rgba(0, 188, 212, 0.5);
            color: #fff;
        }
    }
    .active * {
        color: #fff;
    }
    .active {
        background-color: var(--cyan);
    }
    .add-member {
        cursor: pointer;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0rem 0.3rem;
        background-color: #fff;
        border-radius: 5px;
        i {
            position: relative;
            top: 5px;
            color: #333;
        }
    }
}

/* ------------------------------------- */
.element-to-hide {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.element-to-hide[hidden] {
    opacity: 0;
}

.add-member_form {
    position: fixed;
    width: 300px;
    top: 50%;
    left: 350%;
    transform: translate(-50%, -50%);
    z-index: 100001;
}
.overplay-form_mem {
    position: fixed;
    width: 395vh;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.4);
    z-index: 100000;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 28px;
    color: var(--cyan);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--cyan);
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: var(--cyan);
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: green;
}

.submit {
    border: none;
    outline: none;
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3s ease;
}

.submit:hover {
    background-color: rgb(56, 143, 183);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
.radio {
    font-size: 0.9rem;
}
// Thông báo
.success-notification {
    position: fixed;
    width: 200px;
    height: 50px;
    bottom: 10px;
    left: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    animation: slide-in-out 3s ease-in-out;
    p {
        font-size: 0.9rem;
    }
}

@keyframes slide-in-out {
    0% {
        transform: translateY(100%);
    }
    20% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
